<div class="internSection clearfix">
	<div class="content">
		<header class="clearfix">
			<h1>
				Benutzer
			</h1>
			<section class="info">

			</section>
		</header>
		<table class="users">
			<thead><td>Name</td><td>Vorname</td><td>e-mail</td></thead>

			<%  @users.each { |user|  %>
			<tr>
				<td>
					<%= link_to user.name, {:controller =>'users', :action => 'edit', :id => user._id} %>	
				</td>
				<td>
					<%= link_to user.first_name, {:controller =>'users', :action => 'edit', :id => user._id} %>	
				</td>
				<td>
					<%= link_to user.mail, {:controller =>'users', :action => 'edit', :id => user._id} %>	
				</td>
			</tr>
		</ul>
		<% }%>
	</table>
</div>
</div>