
<header class="clearfix">
	<h1 data-mercury="simple">
		<%=@page.title%>
	</h1>

	<section class="info" >
		<% if it_is_allowed?  Rights.const_get(:EDIT_PAGE) %>

		<a class="submitButton" href="/edit/<%=@page.keyword%>">Bearbeiten</a>
		<%end%>

	</section>
</header>
<section data-mercury="full">
	<%=raw @page.content.content%>
</section>
