<ul>
	<li><a href="../<%=url_for :controller=>'page', :action => 'new'%>">Seite restellen</a>
	</li>
	<li><a href="../<%=url_for :controller=>'page', :action => 'list'%>">Seiten bearbeiten</a>
	</li>		
</ul>